<a href="https://colab.research.google.com/github/FernandoVina/Challenge_TelecomX/blob/main/ChallTelecomX_LATAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸ“Œ ExtracciÃ³n

In [5]:
import pandas as pd
import requests
import json
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
datos_telecom = pd.read_json('/content/TelecomX_Data.json')
datos_telecom.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [7]:
datos_telecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [8]:
datos_telecom.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

In [9]:
datos_telecom.shape

(7267, 6)

In [10]:
type(datos_telecom)

pandas.core.frame.DataFrame

In [11]:
columnas = list(datos_telecom.columns)
columnas

['customerID', 'Churn', 'customer', 'phone', 'internet', 'account']

In [12]:
# se normaliza las columnas correspondientes
customer_data = pd.json_normalize(datos_telecom['customer'])
phone_data = pd.json_normalize(datos_telecom['phone'])
internet_data = pd.json_normalize(datos_telecom['internet'])
account_data = pd.json_normalize(datos_telecom['account'])

# Concatenando el nuevo dataframe con el original dataframe
datos_telecom_expanded = pd.concat([datos_telecom[['customerID', 'Churn']], customer_data, phone_data, internet_data, account_data], axis=1)

display(datos_telecom_expanded.head())

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [13]:
datos_telecom_expanded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [14]:
datos_telecom_expanded['Charges.Total'] = pd.to_numeric(datos_telecom_expanded['Charges.Total'], errors='coerce')
# errors='coerce' se asegurÃ³ de que cualquier valor en esa columna que no pudiera ser convertido a nÃºmero
 # (como cadenas vacÃ­as o texto) fuera reemplazado por NaN (Not a Number), que representa valores faltantes.

In [15]:
datos_telecom_expanded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

# **Diccionario de datos**
customerID: nÃºmero de identificaciÃ³n Ãºnico de cada cliente,
Churn: si el cliente dejÃ³ o no la empresa,
gender: gÃ©nero (masculino y femenino),
SeniorCitizen: informaciÃ³n sobre si un cliente tiene o no una edad igual o mayor a 65 aÃ±os,
Partner: si el cliente tiene o no una pareja,
Dependents: si el cliente tiene o no dependientes,
tenure: meses de contrato del cliente,
PhoneService: suscripciÃ³n al servicio telefÃ³nico,
MultipleLines: suscripciÃ³n a mÃ¡s de una lÃ­nea telefÃ³nica,
InternetService: suscripciÃ³n a un proveedor de internet
OnlineSecurity: suscripciÃ³n adicional de seguridad en lÃ­nea,
OnlineBackup: suscripciÃ³n adicional de respaldo en lÃ­nea,
DeviceProtection: suscripciÃ³n adicional de protecciÃ³n del dispositivo,
TechSupport: suscripciÃ³n adicional de soporte tÃ©cnico, menor tiempo de espera,
StreamingTV: suscripciÃ³n de televisiÃ³n por cable,
StreamingMovies: suscripciÃ³n de streaming de pelÃ­culas,
Contract: tipo de contrato,
PaperlessBilling: si el cliente prefiere recibir la factura en lÃ­nea,
PaymentMethod: forma de pago,
Charges.Monthly: total de todos los servicios del cliente por mes,
Charges.Total: total gastado por el cliente.

In [16]:
datos_telecom_expanded.tail()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

In [17]:
datos_telecom_expanded.shape

(7267, 21)

In [18]:
datos_telecom_expanded.isnull().sum()

customerID           0
Churn                0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
Charges.Monthly      0
Charges.Total       11
dtype: int64

In [19]:
null_charges_total = datos_telecom_expanded[datos_telecom_expanded['Charges.Total'].isnull()]
display(null_charges_total)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

In [20]:
# Cambio los nulos en 'Charges.Total' por 0
datos_telecom_expanded['Charges.Total'] = datos_telecom_expanded['Charges.Total'].fillna(0)
display(datos_telecom_expanded.isnull().sum())

customerID          0
Churn               0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
Charges.Monthly     0
Charges.Total       0
dtype: int64

In [21]:
senior_citizen_counts = datos_telecom_expanded['SeniorCitizen'].value_counts()
display(senior_citizen_counts)

SeniorCitizen
0    6085
1    1182
Name: count, dtype: int64

In [22]:
churn_counts = datos_telecom_expanded['Churn'].value_counts()
display(churn_counts)

Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64

In [23]:
churn_empty = datos_telecom_expanded[datos_telecom_expanded['Churn'] == '']
print(f"Number of empty 'Churn' values: {len(churn_empty)}")
display(churn_empty)

Number of empty 'Churn' values: 224

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
30,0047-ZHDTW,,Female,0,No,No,11,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.30
75,0120-YZLQA,,Male,0,No,No,71,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.10
96,0154-QYHJU,,Male,0,No,No,29,Yes,No,DSL,...,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.20
98,0162-RZGMZ,,Female,1,No,No,5,Yes,No,DSL,...,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,Male,1,Yes,No,65,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7158,9840-GSRFX,,Female,0,No,No,14,Yes,Yes,DSL,...,Yes,No,No,No,No,One year,Yes,Mailed check,54.25,773.20
7180,9872-RZQQB,,Female,0,Yes,No,49,No,No phone service,DSL,...,No,No,No,Yes,No,Month-to-month,No,Bank transfer (automatic),40.65,2070.75
7211,9920-GNDMB,,Male,0,No,No,9,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,76.25,684.85
7239,9955-RVWSC,,Female,0,Yes,Yes,67,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Bank transfer (automatic),19.25,1372.90
7247,9966-VYRTZ,,Female,0,Yes,Yes,31,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Mailed check,19.55,658.95

In [24]:
# clientes con facturacion se incluyeron en los que no dejaron la empresa
datos_telecom_expanded['Churn'] = datos_telecom_expanded['Churn'].replace('','No')
display(datos_telecom_expanded['Churn'].value_counts())

Churn
No     5398
Yes    1869
Name: count, dtype: int64

In [28]:
(1869/7267)*100

25.7190037154259

In [25]:
churn_no_zero_charges = datos_telecom_expanded[(datos_telecom_expanded['Churn'] == 'No') & ((datos_telecom_expanded['Charges.Monthly'] == 0)  | (datos_telecom_expanded['Charges.Total'] == 0))]
display(churn_no_zero_charges)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,0.0
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,0.0
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,0.0
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,0.0
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,0.0
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,0.0
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,0.0
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,0.0
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,0.0
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,0.0
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,0.0

In [29]:
datos_retirados = datos_telecom_expanded[datos_telecom_expanded['Churn'] == 'Yes']
display(datos_retirados.head())

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.40
18,0022-TCJCI,Yes,Male,1,No,No,45,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Credit card (automatic),62.7,2791.50
19,0023-HGHWL,Yes,Male,1,No,No,1,No,No phone service,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,25.1,25.10

In [30]:
print(datos_retirados.shape[0])

1869

In [34]:
total_monthly_charges_all = datos_telecom_expanded['Charges.Monthly'].sum()
total_total_charges_all = datos_telecom_expanded['Charges.Total'].sum()

print(f"Total Monthly Charges for all customers: ${total_monthly_charges_all:.2f}")
print(f"Total Total Charges for all customers: ${total_total_charges_all:.2f}")

Total Monthly Charges for all customers: $470320.95
Total Total Charges for all customers: $16548281.85

In [33]:
total_monthly_charges_churned = datos_retirados['Charges.Monthly'].sum()
total_total_charges_churned = datos_retirados['Charges.Total'].sum()

print(f"Total Monthly Charges for churned customers: ${total_monthly_charges_churned:.2f}")
print(f"Total Total Charges for churned customers: ${total_total_charges_churned:.2f}")

Total Monthly Charges for churned customers: $139130.85
Total Total Charges for churned customers: $2862926.90

In [38]:
categorical_columns = datos_telecom_expanded.select_dtypes(include='object').columns
columns_to_exclude = ['customerID', 'Churn']
# Exclude 'customerID' and 'Churn' as it will always be 'Yes' in datos_retirados

for col in categorical_columns:
    if col not in columns_to_exclude:
        print(f"Comparing '{col}':")
        print("Full Dataset:")
        display(datos_telecom_expanded[col].value_counts())
        print("\nChurned Customers Dataset:")
        display(datos_retirados[col].value_counts())
        print("-" * 30)

Comparing 'gender':
Full Dataset:

gender
Male      3675
Female    3592
Name: count, dtype: int64

Churned Customers Dataset:

gender
Female    939
Male      930
Name: count, dtype: int64

------------------------------
Comparing 'Partner':
Full Dataset:

Partner
No     3749
Yes    3518
Name: count, dtype: int64

Churned Customers Dataset:

Partner
No     1200
Yes     669
Name: count, dtype: int64

------------------------------
Comparing 'Dependents':
Full Dataset:

Dependents
No     5086
Yes    2181
Name: count, dtype: int64

Churned Customers Dataset:

Dependents
No     1543
Yes     326
Name: count, dtype: int64

------------------------------
Comparing 'PhoneService':
Full Dataset:

PhoneService
Yes    6560
No      707
Name: count, dtype: int64

Churned Customers Dataset:

PhoneService
Yes    1699
No      170
Name: count, dtype: int64

------------------------------
Comparing 'MultipleLines':
Full Dataset:

MultipleLines
No                  3495
Yes                 3065
No phone service     707
Name: count, dtype: int64

Churned Customers Dataset:

MultipleLines
Yes                 850
No                  849
No phone service    170
Name: count, dtype: int64

------------------------------
Comparing 'InternetService':
Full Dataset:

InternetService
Fiber optic    3198
DSL            2488
No             1581
Name: count, dtype: int64

Churned Customers Dataset:

InternetService
Fiber optic    1297
DSL             459
No              113
Name: count, dtype: int64

------------------------------
Comparing 'OnlineSecurity':
Full Dataset:

OnlineSecurity
No                     3608
Yes                    2078
No internet service    1581
Name: count, dtype: int64

Churned Customers Dataset:

OnlineSecurity
No                     1461
Yes                     295
No internet service     113
Name: count, dtype: int64

------------------------------
Comparing 'OnlineBackup':
Full Dataset:

OnlineBackup
No                     3182
Yes                    2504
No internet service    1581
Name: count, dtype: int64

Churned Customers Dataset:

OnlineBackup
No                     1233
Yes                     523
No internet service     113
Name: count, dtype: int64

------------------------------
Comparing 'DeviceProtection':
Full Dataset:

DeviceProtection
No                     3195
Yes                    2491
No internet service    1581
Name: count, dtype: int64

Churned Customers Dataset:

DeviceProtection
No                     1211
Yes                     545
No internet service     113
Name: count, dtype: int64

------------------------------
Comparing 'TechSupport':
Full Dataset:

TechSupport
No                     3582
Yes                    2104
No internet service    1581
Name: count, dtype: int64

Churned Customers Dataset:

TechSupport
No                     1446
Yes                     310
No internet service     113
Name: count, dtype: int64

------------------------------
Comparing 'StreamingTV':
Full Dataset:

StreamingTV
No                     2896
Yes                    2790
No internet service    1581
Name: count, dtype: int64

Churned Customers Dataset:

StreamingTV
No                     942
Yes                    814
No internet service    113
Name: count, dtype: int64

------------------------------
Comparing 'StreamingMovies':
Full Dataset:

StreamingMovies
No                     2870
Yes                    2816
No internet service    1581
Name: count, dtype: int64

Churned Customers Dataset:

StreamingMovies
No                     938
Yes                    818
No internet service    113
Name: count, dtype: int64

------------------------------
Comparing 'Contract':
Full Dataset:

Contract
Month-to-month    4005
Two year          1743
One year          1519
Name: count, dtype: int64

Churned Customers Dataset:

Contract
Month-to-month    1655
One year           166
Two year            48
Name: count, dtype: int64

------------------------------
Comparing 'PaperlessBilling':
Full Dataset:

PaperlessBilling
Yes    4311
No     2956
Name: count, dtype: int64

Churned Customers Dataset:

PaperlessBilling
Yes    1400
No      469
Name: count, dtype: int64

------------------------------
Comparing 'PaymentMethod':
Full Dataset:

PaymentMethod
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: count, dtype: int64

Churned Customers Dataset:

PaymentMethod
Electronic check             1071
Mailed check                  308
Bank transfer (automatic)     258
Credit card (automatic)       232
Name: count, dtype: int64

------------------------------

#ðŸ”§ TransformaciÃ³n

#ðŸ“Š Carga y anÃ¡lisis

#ðŸ“„Informe final